<div class="header">
  <span *ngIf="!isModification">Ajouter une unité</span>
  <span *ngIf="isModification">Modifier une unité</span>
</div>
<div class="form-wrapper" [formGroup]="form">
  <div class="form-field">
    <label>Nom</label>
    <input type="text" formControlName="name" class="form-field-value">
  </div>
  <div class="form-field">
    <label>Symbole</label>
    <input formControlName="symbol" class="form-field-value">
  </div>
</div>
<div class="submit-zone">
  <button mat-raised-button color="primary" (click)="onAdd()" [disabled]="form.invalid">
    <span *ngIf="!isModification">Ajouter</span>
    <span *ngIf="isModification">Modifier</span>
  </button>
</div>