<div [formGroup]="form" class="form-wrapper">

  <menus-form-field-wrapper
    dataError="Obligatoire"
    label="Nom"
    type="text"
    [control]="form.controls.name"></menus-form-field-wrapper>

</div>

<div class="list-title">Utilisateurs de ce groupe: </div>
<mat-list>
  <ng-container  *ngFor="let user of users">
    <mat-list-item>
      <mat-icon matListIcon>lens</mat-icon>
      {{user.firstname}} {{user.lastname}}</mat-list-item>
  </ng-container>

</mat-list>

<div class="submit-form">
  <button mat-raised-button color="warn" class="submit-button" type="button" (click)="cancel()" *ngIf="!isReadonly">
    Annuler
  </button>
  <button mat-raised-button color="primary" class="submit-button" type="button" (click)="submit()"
          [disabled]="form.invalid" *ngIf="!isReadonly">
    Sauvegarder
  </button>
  <button mat-raised-button color="primary" class="submit-button" type="button" (click)="modify()" *ngIf="isReadonly">
    Modifier
  </button>
</div>
