<mat-tab-group>
  <mat-tab label="Semaine">
    <div cdkDropList (cdkDropListDropped)="drop($event)">
      <mat-card cdkDrag class="day-card" *ngFor="let meal of meals; let i = index">
        <mat-card-header>
          <mat-card-title class="day-title">{{getDay(i)}} :</mat-card-title>
          <mat-icon cdkDragHandle class="drag-handle">open_with</mat-icon>
        </mat-card-header>
        <mat-card-content class="recette-content">
          <ng-container *ngIf="meal !== null">
            <div class="recette-name">
              <span class="name">{{meal.recipe.name}}</span>
              <span class="side" *ngIf="meal.sideDishes.length > 0">
            (
            <span *ngFor="let side of meal.sideDishes; let i = index">
              {{ side.name }}<span *ngIf="i < meal.sideDishes.length-1"> - </span>
            </span>
            )
          </span>
            </div>
            <div class="recette-times">
              <span>Préparation: {{meal.recipe.preparationTime}} min</span>
              <span> / </span>
              <span>Cuisson: {{meal.recipe.cookingTime}} min</span>
            </div>
          </ng-container>
          <div class="recette-name" *ngIf="meal === null">-</div>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="see(i)" mat-button>Voir</button>
          <button (click)="onChange(i)" mat-button>Changer</button>
          <button (click)="clearRecette(i)" mat-button>Supprimer</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <button mat-fab class="save-button" (click)="onSave()" [color]="(isModified) ? 'warn' : 'primary'">
      <mat-icon>save</mat-icon>
    </button>
  </mat-tab>
  <mat-tab label="Liste de courses">
    <menus-week-grocery-list [meals]="meals"></menus-week-grocery-list>
  </mat-tab>
</mat-tab-group>
