<div class="dialog">
  <div class="header">
    <span>Modier le menu</span>
  </div>
  <div class="form-wrapper" [formGroup]="form">
    <div class="form-field-wrapper">
      <label>Recette</label>
      <menus-recipe-selector dataError="Obligatoire" formControlName="recipe"></menus-recipe-selector>
    </div>
    <div class="form-field-wrapper">
      <label>Accompagnements</label>
      <menus-sidedish-selector formControlName="sideDishes" [isMultiple]="true"></menus-sidedish-selector>
    </div>
  </div>
  <div class="submit-zone">
    <button mat-raised-button color="primary" (click)="onAdd()" [disabled]="form.invalid">
      <span>Modifier</span>
    </button>
  </div>
</div>
