<div class="all-wrapper is-recette" #wrapper >

  <div class="recette-info" (swipeleft)="onPanLeft($event)" (swiperight)="onPanRight($event)"> 
    <div class="recette-wrapper recette-panel" [style.left.px]="calculatedLeftRecette">
      <div [formGroup]="recetteForm" class="form-wrapper">
        <div class="form-field-wrapper">
          <mat-form-field>
            <input matInput type="text" placeholder="Nom de la recette" formControlName="nom" id="name">
            <mat-error *ngIf="hasError('nom', 'required')">Le nom est obligatoire</mat-error>
          </mat-form-field>
        </div>

        <div class="form-field-wrapper">
          <mat-form-field>
            <input matInput type="number" placeholder="Temps de préparation" formControlName="tempsPreparation" id="tempPrep">
            <mat-error *ngIf="hasError('tempsPreparation', 'required')">Le temps de préparation est obligatoire</mat-error>
          </mat-form-field>
        </div>

        <div class="form-field-wrapper">
          <mat-form-field>
            <input matInput type="number" placeholder="Temps de cuisson" formControlName="tempsCuisson" id="tempCuisson">
          </mat-form-field>
        </div>

        <div class="form-field-wrapper">
          <mat-form-field>
            <input matInput type="number" placeholder="Nombre de personnes" formControlName="nbPersonnes" id="nbPers">
            <mat-error *ngIf="hasError('nbPersonnes', 'required')">Le nombre de personnes est obligatoire</mat-error>
          </mat-form-field>
        </div>

        <div class="form-field-wrapper radio">
          <mat-radio-group formControlName="type">
            <mat-radio-button value="ENTREE">
              Entree
            </mat-radio-button>
            <mat-radio-button value="PLAT">
              Plat
            </mat-radio-button>
            <mat-radio-button value="DESSERT">
              Dessert
            </mat-radio-button>
          </mat-radio-group>
        </div>

      </div>
      <div class="swipe">
        <mat-icon>chevron_right</mat-icon>
      </div>
    </div>

    <div class="ingredients recette-panel" [style.left.px]="calculatedLeftIngredient">
      <div *ngFor="let ingredient of listOfIngredient">
        {{ingredient.ingredient.nom}} : {{ingredient.quantite}}
      </div>
      <div class="adding-item">
        <span>Quoi</span>
        <span>Combien</span>
        <span>Unite</span>
      </div>
    </div>
  </div>

  <div class="slide-info">

  </div>

  <div class="form-field-wrapper submit-form">
    <button mat-raised-button color="primary" class="submit-button" (click)="onSubmit()" [disabled]="recetteForm.invalid && this._isEditable">
      <span *ngIf="this._isCreationMode">Ajouter</span>
      <span *ngIf="!this._isCreationMode && !this._isEditable">Modifier</span>
      <span *ngIf="!this._isCreationMode && this._isEditable">Valider</span>
    </button>

    <button mat-raised-button color="warn" class="submit-button" (click)="onDelete()">
      <span *ngIf="!this._isCreationMode && !this._isEditable">Supprimer</span>
    </button>
  </div>

</div>