<div class="dialog">
  <div class="header">
    <span>Réinitialiser mot de passe</span>
  </div>
  <form class="form-wrapper" [formGroup]="form">
    <menus-form-field-wrapper
      dataError="Obligatoire"
      label="Mot de passe"
      type="password"
      [control]="form.controls.password"></menus-form-field-wrapper>
    <menus-form-field-wrapper
      dataError="Mot de passe différent"
      label="Confirmer"
      type="password"
      [control]="form.controls.confirmation"></menus-form-field-wrapper>

    <div class="submit-zone">
      <button type="submit" mat-raised-button color="primary" (click)="onSubmit()" [disabled]="form.invalid">
        <span>Valider</span>
      </button>
    </div>
  </form>

</div>
