<div [formGroup]="form" class="form-wrapper">
  <div class="form-field-wrapper">
    <label>Prénom</label>
    <input type="text" formControlName="firstname">
  </div>

  <div class="form-field-wrapper">
    <label>Nom</label>
    <input type="text" formControlName="lastname">
  </div>

  <div class="form-field-wrapper">
    <label>login</label>
    <input type="text" formControlName="username">
  </div>
</div>
<div class="submit-form">
  <button mat-raised-button color="warn" class="submit-button" type="button" (click)="cancel()" *ngIf="!isReadonly">
    Annuler
  </button>
  <button mat-raised-button color="primary" class="submit-button" type="button" (click)="submit()" [disabled]="form.invalid" *ngIf="!isReadonly">
    Sauvegarder
  </button>
  <button mat-raised-button color="primary" class="submit-button" type="button" (click)="modify()" *ngIf="isReadonly">
    Modifier
  </button>
  <button mat-raised-button color="primary" class="submit-button" type="button" (click)="resetPassword()" *ngIf="isReadonly">
    Reset password
  </button>
</div>
