<div [formGroup]="form" class="form-wrapper">

  <menus-form-field-wrapper
    dataError="Obligatoire"
    label="Prénom"
    type="text"
    [control]="form.controls.firstname"></menus-form-field-wrapper>

  <menus-form-field-wrapper
    dataError="Obligatoire"
    label="Nom"
    type="text"
    [control]="form.controls.lastname"></menus-form-field-wrapper>

  <menus-form-field-wrapper
    dataError="Obligatoire"
    label="Login"
    type="text"
    [control]="form.controls.username"></menus-form-field-wrapper>

</div>
<div class="submit-form">
  <button mat-raised-button color="warn" class="submit-button" type="button" (click)="cancel()" *ngIf="!isReadonly">
    Annuler
  </button>
  <button mat-raised-button color="primary" class="submit-button" type="button" (click)="submit()" [disabled]="form.invalid" *ngIf="!isReadonly">
    Sauvegarder
  </button>
  <button mat-raised-button color="primary" class="submit-button" type="button" (click)="modify()" *ngIf="isReadonly">
    Modifier
  </button>
  <button mat-raised-button color="primary" class="submit-button" type="button" (click)="resetPassword()" *ngIf="isReadonly">
    Reset password
  </button>
</div>
