.form-wrapper {
  margin: 25px 5px;
  padding: 15px 0;
}

.form-field-wrapper {
  margin: 10px;
  display: flex;
  flex-flow: row wrap;
  color: @text-color;

  label {
    width: 200px;
    margin-bottom: 5px;
  }

  input {
    flex: 1;
    border-radius: 5px;
    border: 1px solid @text-color;
    padding: 5px;
    line-height: 16px;
    font-size: 16px;
    background-color: white;

    &:disabled {
      background-color: @background-color;
      border: 1px solid lighten(@text-color, 30%);
    }
  }
}

.submit-form {
  margin: 15px;
  display: flex;
  justify-content: flex-end;

  button {
    margin-right: 20px;
  }
}
