@import '~@angular/material/theming';
@import "./../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";
@include mat-core();

$my-primary: (
  50: #C6F1EA,
  100: #C6F1EA,
  200: #C6F1EA,
  300: #C6F1EA,
  400: #C6F1EA,
  500: #C6F1EA,
  600: #C6F1EA,
  700: #C6F1EA,
  800: #C6F1EA,
  900: #C6F1EA,
  A100: #C6F1EA,
  A200: #C6F1EA,
  A400: #C6F1EA,
  A700: #C6F1EA,
  contrast: (
    50:#58616C,
    100:#58616C,
    200:#58616C,
    300:#58616C,
    400:#58616C,
    500:#58616C,
    600:#58616C,
    700:#58616C,
    800:#58616C,
    900:#58616C,
    A100:#58616C,
    A200:#58616C,
    A400:#58616C,
    A700:#58616C,
  )
);

$my-app-primary: mat-palette($my-primary);
$my-app-accent:  mat-palette($mat-pink, 500, 900, A100);
$my-app-warn:    mat-palette($mat-deep-orange);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);



//hamburger
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 30px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background-color: #58616C;
}

.hamburger--collapse.is-active .hamburger-inner,
.hamburger--collapse.is-active .hamburger-inner::before {
  background-color: #58616C;
}

.hamburger {
  padding-right: 0; 
}

.hamburger-box {
  width: 30px;
}