<div class="input-wrapper" [ngClass]="isError ? 'error' : ''">
  <ng-select
    [items]="content"
    [multiple]="false"
    [(ngModel)]="value"
    placeholder="{{ label }}"
    (search)="search($event)"
    [searchFn]="searchFn"
    [searchable]="true"
    (clear)="onClear()"
    [virtualScroll]="true"
    (scrollToEnd)="onScrollEnd()"
    (blur)="propagateTouch()"
    appendTo="body"
    [loading]="isLoading">
    <ng-template ng-label-tmp let-item="item">
      {{item.name}} ({{item.symbol}})
    </ng-template>
    <ng-template ng-option-tmp let-item="item">
      {{item.name}} ({{item.symbol}})
    </ng-template>
  </ng-select>
  <span class="error-text">{{dataError}}</span>
</div>
