<button class="show-sm" mat-icon-button type="button" (click)="toggleMenu()">
  <mat-icon>menu</mat-icon>
</button>
<a class="logo" routerLink="">
  <img src="../../../../assets/img/linkedin_banner_image_1.png">
</a>
<span class="right">
  <menus-user-info class="responsive hide"></menus-user-info>
  <span class="header nav is-icon responsive hide" routerLink="/main/parameters" title="paramètres">
    <mat-icon>settings</mat-icon>
  </span>
  <span class="header nav is-icon" routerLink="/auth/login" title="logout">
    <mat-icon>logout</mat-icon>
  </span>
</span>
