:host {
    display: flex;
    flex-direction: column;
    height: 100%;

    mat-tab-group {
        flex: 1;
    }

    .form-field-wrapper {
        margin: 10px;
    }

    .submit-form {
        margin: 15px;
        display: flex;
        justify-content: flex-end;

        button {
            margin-right: 20px;
        }
    }

    .ingredient-wrapper {

        display: flex;
        flex-direction: column;

        .add-button {
            align-self: flex-end;
            margin: 10px 20px 0 0;
        }

        table {
            width: ~'calc(100% - 20px)';
            margin: 10px;
            flex:1;

            .table-button-wrapper {
                display: flex;
                max-width: 100px;
            }
        }
    }
}