<mat-tab-group>
  <mat-tab label="Détails">
    <div [formGroup]="recipeForm" class="form-wrapper">
      <div class="form-field-wrapper">
        <label>Nom de la recette</label>
        <input type="text" formControlName="name">
      </div>

      <div class="form-field-wrapper">
        <label>Temps de préparation</label>
        <input type="number" formControlName="preparationTime">
      </div>

      <div class="form-field-wrapper">
        <label>Temps de cuisson</label>
        <input type="number" formControlName="cookingTime">
      </div>

      <div class="form-field-wrapper">
        <label>Nombre de personnes</label>
        <input type="number" formControlName="persons">
      </div>
    </div>

  </mat-tab>
  <mat-tab label="Ingrédients">
    <div class="ingredient-wrapper">
      <button mat-raised-button color="primary" class="add-button" (click)="addIngredient()" [disabled]="!_isEditable">
        <mat-icon>add</mat-icon>
        <span class="responsive hide">Ajouter</span>
      </button>
      <table mat-table [dataSource]="dataSource">

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nom </th>
          <td mat-cell *matCellDef="let ingredientQuantity"> {{ingredientQuantity.ingredient.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef> Quantité </th>
          <td mat-cell *matCellDef="let ingredientQuantity"> {{ingredientQuantity.quantity}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="unit">
          <th mat-header-cell *matHeaderCellDef> Unité </th>
          <td mat-cell *matCellDef="let ingredientQuantity"> {{ingredientQuantity.ingredient.unit.symbol}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let ingredientQuantity; let i = index">
            <div class="table-button-wrapper">
              <button mat-icon-button color="primary" (click)="onEditIngredient(ingredientQuantity, i)"
                [disabled]="!_isEditable">
                <mat-icon>create</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="onDeleteIngredient(ingredientQuantity)"
                [disabled]="!_isEditable">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-tab>
</mat-tab-group>
<div class="submit-form">
  <button mat-raised-button color="primary" class="submit-button" (click)="onSubmit()"
    [disabled]="recipeForm.invalid && this._isEditable">
    <span *ngIf="this._isCreationMode">Ajouter</span>
    <span *ngIf="!this._isCreationMode && !this._isEditable">Modifier</span>
    <span *ngIf="!this._isCreationMode && this._isEditable">Valider</span>
  </button>

  <button mat-raised-button color="warn" class="submit-button" (click)="onDelete()"
    *ngIf="!this._isCreationMode && !this._isEditable">
    <span>Supprimer</span>
  </button>
</div>