<div class="header">
  <span *ngIf="!isModification">Ajouter une unité</span>
  <span *ngIf="isModification">Modifier une unité</span>
</div>
<div class="form-wrapper" [formGroup]="form">
  <menus-form-field-wrapper
    [control]="form.controls.name"
    dataError="Obligatoire"
    label="Nom"
    type="text"></menus-form-field-wrapper>

  <menus-form-field-wrapper
    type="text"
    label="Symbole"
    dataError="Obligatoire"
    [control]="form.controls.symbol"></menus-form-field-wrapper>
</div>
<div class="submit-zone">
  <button mat-raised-button color="primary" (click)="onAdd()" [disabled]="form.invalid">
    <span *ngIf="!isModification">Ajouter</span>
    <span *ngIf="isModification">Modifier</span>
  </button>
</div>
