<a class="nav-link" routerLink="/main/home" routerLinkActive="selected" (click)="navigate()">
  <mat-icon>home</mat-icon>
  <span>Home</span>
</a>
<a class="nav-link" routerLink="/main/recipe" routerLinkActive="selected" (click)="navigate()">
  <mat-icon>restaurant</mat-icon>
  <span>Recettes</span>
</a>
<a class="nav-link" routerLink="/main/sidedish" routerLinkActive="selected" (click)="navigate()">
  <mat-icon>spa</mat-icon>
  <span>Sides</span>
</a>
<a class="nav-link" routerLink="/main/week" routerLinkActive="selected" (click)="navigate()">
  <mat-icon>room_service</mat-icon>
  <span>Semaine</span>
</a>
<a class="nav-link" routerLink="/main/user" routerLinkActive="selected" (click)="navigate()" *appHasRole="'ROLE_ADMIN'">
  <mat-icon>face</mat-icon>
  <span>Utilisateurs</span>
</a>
<a class="nav-link" routerLink="/main/parameters" routerLinkActive="selected" (click)="navigate()" *appHasRole="'ROLE_ADMIN'">
  <mat-icon>settings</mat-icon>
  <span>Paramètres</span>
</a>
