<a class="nav-link" routerLink="/main/home" routerLinkActive="selected">
  <mat-icon>home</mat-icon>
  <span>Home</span>
</a>
<a class="nav-link" routerLink="/main/recipe" routerLinkActive="selected">
  <mat-icon>restaurant</mat-icon>
  <span>Recettes</span>
</a>
<a class="nav-link" routerLink="/main/sidedish" routerLinkActive="selected">
  <mat-icon>spa</mat-icon>
  <span>Sides</span>
</a>
<a class="nav-link" routerLink="/main/week" routerLinkActive="selected">
  <mat-icon>room_service</mat-icon>
  <span>Semaine</span>
</a>
