<div class="dialog">
  <div class="header">
    <span *ngIf="data.index == -1">Ajouter</span>
    <span *ngIf="data.index > -1">Modifier</span>
  </div>
  <div class="form-wrapper" [formGroup]="form">
    <div class="form-field-wrapper">
      <label>Ingrédient</label>
      <menus-ingredient-selector dataError="Obligatoire" formControlName="ingredient"></menus-ingredient-selector>
    </div>

    <menus-form-field-wrapper
      dataError="Obligatoire"
      label="Quantité"
      type="number"
      [control]="form.controls.quantity"
      [suffix]="getSymbol"></menus-form-field-wrapper>

  </div>
  <div class="submit-zone">
    <button mat-raised-button color="primary" (click)="onSubmit()">
      <span *ngIf="data.index == -1">Ajouter</span>
      <span *ngIf="data.index > -1">Modifier</span>
    </button>
  </div>
</div>
