<div class="user-wrapper responsive hide">
  <div class="name">
    {{user?.firstname}} {{user?.lastname}}
  </div>
  <!--  <div class="home">-->
  <!--    {{user?.house.name}}-->
  <!--  </div>-->
</div>
<menus-loading-img [styles]="imgStyles" class="c-hand"
                   [src]="'user/' + user?.id + '/avatar?' + timestamp | secure | async" [matMenuTriggerFor]="menu"></menus-loading-img>

<mat-menu #menu="matMenu">
  <button mat-menu-item [routerLink]="['/main/user/', user?.id]">
    <mat-icon>account_circle</mat-icon>
    <span>Mon compte</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Déconnexion</span>
  </button>
</mat-menu>
